body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.blue{
    background-color: #159CC7;
    height: 7vh;
    display: flex;
}
.blue .slang{
    margin: auto;
    color: white;
    font-size: 20px;
}
h4{
    text-align: right;
    margin-right: 5px;
    font-weight: 400;
    font-size: 20px;
}
.question{
    margin: 5px auto;
    border: 1px solid black;
}
.question h6{
    float: right;
}
.question form {
    float: right;
}
input[type = 'radio']{
    vertical-align: middle;
}
button[type = 'submit']{
    border: none;
    outline: none;
    width: 100px;
    height: 25px;
    color: white;
    background-color: #159CC7;
}
.voting{
    margin: 5px auto;
    border: 1px solid black;

}
.con{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 20px;
}
.conspan{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 20px;
}
.conspan span{
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.voting .red{
    width: 80px;
    height: 80px;
    border-right: 50%;
    background-color: red;
    flex:1;
    display: flex;
}

.voting .green{
    width: 80px;
    height: 80px;
    background-color: green;
    flex:1;
    display: flex;
}
.voting .red span , .voting .green span{
    margin: auto;
    color: white;
    font-size: 25px;
    font-weight: 500;
}